<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body ng-app="MyApp">
    <div ng-controller="dialPadController" >

        <div style="width:150px; display: block; float:left;">
            <h2>t9</h2>
            <textarea class="display">{{output.sentence}} {{output.word}}</textarea>
            <button ng-repeat="dial in dialPadMap" style="display: block; width:50px; height:50px; float:left; padding:10px;" ng-click="dial.click(pad)">{{dial.number}}<br>{{dial.letters}}</button>
        </div>

        <div style="display:block; margin:100px 0px 0px 30px; float:left;">

            Input: <input type="text" ng-model="pad.number" ng-change="update(pad)" /><br />

            <h2>Word Combinations</h2>
            <ul ng-repeat="word in output.words">
                <li>{{word}}</li>
            </ul>
        </div>

    </div>
  </body>
</html>
