<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body ng-app="MyApp">
    <div ng-controller="dialPadController" >

        <div class="leftContainer">
            <center><h2><%= title %></h2></center>
            <textarea class="display">{{output.sentence}} {{output.word}}</textarea>
            <button ng-repeat="dial in dialPadMap" class="dialPadNumber" ng-click="dial.click(pad)"><span style="font-size: 26px;">{{dial.number}}</span><br>{{dial.letters}}</button>
        </div>

        <div class="rightContainer">
            Input: <input type="text" ng-model="pad.number" ng-change="update(pad)" style="font-size: 16px; padding: 5px;" /><br />
            <h2>Word Combinations</h2>
            <ul ng-repeat="word in output.words">
                <li>{{word}}</li>
            </ul>
        </div>

    </div>
  </body>
</html>
